*{
	margin:0px;
	list-style-type:none;
	text-decoration:none;
	font-family:'Roboto',san-serif;
}

body{
	background:url('../images/exit.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}

a{
	text-decoration:none;
}
.btn>a{
	color:#fff94f;
	}
.container{
   background:rgba(255,255,255, .5);
    padding:50px;
    margin-top:50px;
}

.row{
  padding:20px;
}

#exitMask{
	background-color:rgba(255,255,255, 0.5);
	width:inherit;
        padding:20px;
	margin:0px auto;
	position:relative;
	left:0;
	right:0;
	top:80px;
	    border: 1.5px solid #fff94f;
    border-radius: 5px;
}
h1{
	text-align:center;
	padding:25px;
	padding-top: 40px;
        color:#fff;
	margin:auto;
	border-bottom: 1.5px solid #fff94f;
	font-style:italic;
}
.sub{
	text-align:center;
	color:black;
	font-style:italic;
	padding:10px 0px;


}


i{
	padding:3px;
}


.butn{
	border:none;
	outline:none;
	background:#000;
	font-size:15px;
	font-weight:600;
	width:120px;
	padding:7px;
	border-radius:3px;
	cursor:pointer;
	letter-spacing: .09em;
  margin: auto;
	display: block;
	text-align: center;
	}
.butn a, .butn a:hover{
	text-decoration: none;
	color:#fff94f;
}


.agn{
	padding:15px;
	background:rgba(255, 249, 79, .95);
	border-radius: 5px;
	width: 50%;
  margin:auto;
}


}
